<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
  <meta charset="UTF-8">
  <title>Liked Books</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
          crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="/">Main</a>
        </li>

        <li class="nav-item" sec:authorize="hasAnyRole('USER','ADMIN')">
          <a class="nav-link" href="liked-books">My Liked Books</a>
        </li>
        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
          <a class="nav-link" href="/">Add a book</a>
        </li>

        <li class="nav-item" sec:authorize="!hasAnyRole('USER', 'ADMIN')">
          <a class="nav-link" href="/sign-in">Sign In</a>
        </li>

        <li class="nav-item" sec:authorize="!hasAnyRole('USER','ADMIN')">
          <a class="nav-link" href="/sign-up">Sign Up</a>
        </li>

        <li class="nav-item" sec:authorize="hasAnyRole('USER','ADMIN')">
          <a class="nav-link" href="/logout">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</nav>
<div class="container">
  <table class='table table-hover mt-5'>
    <thead class='table-light'>
    <th>Isbn</th>
    <th>Name</th>
    <th>Author</th>
    <th></th>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
      <td th:text="${book.isbn}"></td>
      <td th:text="${book.name}"></td>
      <td th:text="${book.author}"></td>
      <form th:action="@{/dislike}" method="post">
        <td><input type="hidden" th:value="${book.isbn}" name="isbn"/>
          <button type="submit" class="btn">Dislike</button>
        </td>
      </form>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>